<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
              <img id="backButton" onclick="history.back(-1)" class=" btn navbar-brand topnav" src="/img/two-arrows.png">
        </div>
        <div class="nav navbar-nav navbar-center">
          <a id="center" class="navbar-brand topnav" href="/">Hackathon 3</a>
        </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <%if(!currentUser){%>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <%} else if (currentUser){%>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a>Brian is logged in.  <span class="glyphicon glyphicon-user"></a></li>
          <%}%>
        </ul>
    </div>
  </div>
</nav>
