h1 {
  color: red;
}

.tile {
  background: yellow;
  padding: 5px;
  border: 1px black solid;
  margin-bottom: 5px;
  word-wrap: break-word;
}
.square {
  height: calc(30%);

  margin: 2px;
}

.col-xs-4 {

}
