body {
    background: #222;
    padding: 50px 0 100px;
    -webkit-font-smoothing: antialiased;
}
.container { padding-top: 25px; padding-bottom: 25px; background: rgba(255, 255, 255, 0.1); }
.row { padding-top: 25px; padding-bottom: 25px; background: rgba(255, 255, 255, 0.3); }
[class*="col-"] { border: solid 1px #e3e3e3; border-top-width: 2px; border-bottom-width: 2px; padding-top: 25px; padding-bottom: 25px; background: rgba(255, 255, 255, 0.5); }
[class*="col-"]:first-sibling { border-left-width: 2px; }
[class*="col-"]:last-sibling { border-right-width: 2px; }

.tile {
    word-wrap: break-word;
    padding: 0px 7%;
    text-align: center;
    position: relative;
    background: #fff;
}
.tile h2 {
    font-weight: 300;
    letter-spacing: -0.05em;
    margin-bottom: 15px;
}
.tile a {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    padding: 25px 0;
}
.tile p {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .hideOnMediaQuery { display: none; }
}

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .hideOnMediaQuery { display: block; }
}

#backbutton {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#center {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.modal.fade.in .modal-body {
    bottom: 0;
    opacity: 1;
}
.modal-body {
    position: absolute;
    bottom: -250px;
    left: 5%;
    right: 5%;
    padding: 30px 15px 15px;
    width: 90%;
    height: 13%;
    background-color: #e5e5e5;
    border-radius: 6px 6px 0 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    border: 1px black solid;
}
.close {
    margin-top: -20px;
    text-shadow: 0 1px 0 #ffffff;
}
.popup-button {
    margin-left: 140px;
    margin-top: 77px;
    font-weight: bold;
}

#modal-popup-tall {
  height: 20%;
  left: 2.5%;
  right: 2.5%;
  width: 95%;
  padding-top: 20px
}
