<div class = 'homePage'>

  <div class= "homeheading">
    <h1 id="homeHeader">Dining Dash </h1>
    <h3 id="homesubHeader">eat like the experts </h3>
  </div>

  <div id="eat38" class="darkGray">
      <a id="hl" href="/matrix">
        <h2>Eater 38 </h2>
        <h4>the answer to "what's the best restaurant for ...""</h4>
      </a>
  </div>
  <div class="gray">
    <h2>Seattle Met </h2>
    <h4>Best Asian Restaurants of 2016</h4>
  </div>
  <div class="darkGray">
    <h2>The Seattle Times</h2>
    <h4>Best Restaurants from the newspaper of record </h4>
  </div>
  <div class="gray">
    <h2>Do206</h2>
    <h4>Do you know what's good? They do.</h4>
  </div>
  <div class="darkGray">
    <h2>KEXP</h2>
    <h4>They support good music (and good restaurants). You should too.</h4>
  </div>
  <div class="gray">
    <h2>Dining Dash Editor Picks</h2>
    <h4>Who eats out more than we do? Nobody, that's who.</h4>
  </div>
  <div class="darkGray">
    <h2>Dine Around Seattle March 2017</h2>
    <h4>Supporting the dining culture of Seattle everyday.</h4>
  </div>
  <div class="gray">
    <h2>Food Lifeline</h2>
    <h4>Keeping food on the table for hungry Seattle families.</h4>
  </div>
  <div class="darkGray">
    <h2>General Assembly</h2>
    <h4>Generally, we assemble around computers, but we gotta eat.</h4>
  </div>
  <div class="gray">
    <h2>MyBallard</h2>
    <h4>An alliance of folks who knew Seattle before you came and raised rents.</h4>
  </div>

  <div id="modal-popup-tall" class="modal-body">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <p id="topModalText">A brief list description will go here. </p>
  </div>
  
</div>
